<div class="content" style="margin-top: 3rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h3 class="card-title" style="font-weight: 500;">Editor Notes</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="card">
                                            <a ui-sref="manage-home-editor-note" style="padding: 3rem;  text-align: center;  font-size: 1.2rem;">
                                                <b>Home Page</b>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="card">
                                            <a ui-sref="manage-private-editor-note" style="padding: 3rem; text-align: center; font-size: 1.2rem;">
                                                <b>Private Page</b>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="card">
                                            <a ui-sref="manage-public-editor-note" style="padding: 3rem;
                                            text-align: center;
                                            font-size: 1.2rem;">
                                                <b >Public Page</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>