<div class="content" style="margin-top: 3rem;" ng-controller="manageForumCtl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">assignment</i>
                        </div>
                        <h3 class="card-title" style="font-weight: 500;">Manage Forum</h3>
                      </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                                <button type="button" ui-sref="create-forum" class="btn btn btn-success"
                                    style="font-size: 1.2rem;text-transform: inherit;">
                                    Create forum
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><span>Category</span></th>
                                                <th><span>Title</span></th>
                                                <th><span>Description</span></th>
                                                <th><span>Image</span></th>
                                                <th><span>Actions</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="list in forumList">
                                                <td>
                                                    <span class="full-txt">
                                                        {{list.forumCategory.name}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="full-txt">
                                                        {{list.title}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="full-txt">
                                                        {{list.fullDesc}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <img class="img-responsive"
                                                        style="box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);width:140px;height:100px;border-radius:4px;"
                                                        ng-if="list && list.img && list.img.path"
                                                        ng-src="{{list.img.path}}" src="{{list.img.path}}">
                                                </td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" class="btn btn-info btn-round"
                                                        data-original-title="" title="" ng-click="viewForum(list.id)">
                                                        <i class="material-icons">remove_red_eye</i>
                                                    </button>
                                                    <button type="button" rel="tooltip"
                                                        class="btn btn-success btn-round" data-original-title=""
                                                        title="" ng-click="editForum(list.id)">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" class="btn btn-danger btn-round"
                                                        data-original-title="" title="" ng-click="popUpForDelete(list.id)">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="modalDeleteConfirm" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="border-bottom: 0px solid #e9ecef !important;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <b style="font-size: 1.2rem;font-weight: 500;">Are you sure you want delete
                                                this forum?</b>
                                        </div>
                                        <div class="modal-footer" style="border-top: 0px solid #e9ecef !important;">
                                            <button type="button" class="btn btn-success"
                                                ng-click="confirmDelete()">Yes</button>
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="viewForumInfo" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="text-align: center !important;">
                                        <div class="modal-header" style="border-bottom: 0px solid #e9ecef !important;display: table !important;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title" style="margin: 0px 0 10px !important;
                                            font-weight: 400 !important;">Forum Details</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <table class="table table-bordered" style="padding: 5px;">
                                                        <tbody>
                                                            <tr>
                                                                <th>Title</th>
                                                                <td>{{viewForumData.title}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Category</th>
                                                                <td>{{viewForumData.forumCategory.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Sub Category</th>
                                                                <td>{{viewForumData.subCategory}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Full description</th>
                                                                <td>
                                                                   {{viewForumData.fullDesc}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Private</th>
                                                                <td>
                                                                    <span ng-show="viewForumData.isPrivate">Yes</span>
                                                                    <span ng-show="!viewForumData.isPrivate">No</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Image</th>
                                                                <td>
                                                                   <img class="img-thumbnail" ng-src="{{viewForumData.img.path}}" src="{{viewForumData.img.path}}">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="border-top: 0px solid #e9ecef !important;">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    th>span {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .full-txt {
        width: 130px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 400;
    }
</style>